<%= content_for :title, 'About us - We like to help and share our knowledge to help you' %>
<%= content_for :introduction do %>
  <div class="row">
    <div class="large-12 columns step1">
      <h3>Caninolabs</h3>
    </div>
  </div>
<% end %>
<%= content_for :main do %>
  <div class="row">
    <div class="large-12 columns step1">
      <h3>Culture </h3>
    </div>
  </div>
<% end %>
<%= content_for :final do %>
  <div class="row">
    <div class="large-12 columns step1">
      <h3>Social Canino labs</h3>
    </div>
  </div>
<% end %>
