<%= content_for :title, 'Caninolabs - We want help you, We will support you!' %>
<%= content_for :introduction do %>
  <div class="row">
    <div class="large-12 columns step1">
      <h2> Welcome </h2>
    </div>
  </div>
<% end %>
<%= content_for :main do %>
  <div class="row">
  <div class="large-12 columns step2">
    <h2> More </h2>
  </div>
<% end %>
<%= content_for :final do %>
  <div class="row">
    <div class="large-12 column step3s">
      <h2> How we do </h2>
    </div>
    <div class="large-12 columns">
      <h2> Contact us </h2>
    </div>
  </div>
<% end %>
