<%= content_for :introduction do %>
  <div class="row">
    <div class="large-12 column step1">
      <h3>Canino labs Workflow</h3>
      <p>
        Our goal is to help people who has special ideas that can change 
        the world. We are lookig for:
      </p>
      <ul>
        <li>Non-Profit/Citizens organizations</li>
        <li>Small company with great projects that impact or help bunch of people</li>
      </ul>
    </div>
  </div>
<% end %>
